<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .main {
            background-image: url('{% static "img/principal.png" %}');
            background-size: cover;
            /* Opcional: ajusta el tamaño de la imagen al div */
            background-position: center;
            /* Opcional: posiciona la imagen en el centro */
            min-height: 913px;
            background-repeat: repeat-y;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="{% url 'Home' %}">Proyecto Final</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Pages' %}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'About' %}">About</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                {% if avatar %}
                <img src="{{avatar.imagen.url}}" alt="user image" class="avatar-navbar">
                {% endif %}
                <a class="btn btn-primary my-2 my-sm-0" style="margin-right: 10px;" href="{% url 'Profile' %}">Mi perfil</a>
                <a class="btn btn-danger my-2 my-sm-0" href="{% url 'Logout' %}">Cerrar sesión</a>
                {% else %}
                <a class="btn btn-success my-2 my-sm-0" href="{% url 'Login' %}">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>

</html>