{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <a class="btn btn-primary m-2" href="{% url 'Home' %}">Volver</a>
            <div class="d-flex justify-content-center mt-2 p-4 default-panel">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center mb-4">Editar Blog</h3>
                        </div>
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-10">
                                {{ form.titulo.label_tag }}
                                {{ form.titulo }}
                            </div>
                        </div>
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                {{ form.cuerpo.label_tag }}
                                {{ form.cuerpo }}
                            </div>
                        </div>
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                {{ form.publico.label_tag }}
                                {{ form.publico }}
                            </div>
                        </div>
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                {{ form.imagen }}
                            </div>
                        </div>
                        <br/>
                        <div class="row justify-content-center mb-2">
                            <div class="col-4">
                                <button class="btn btn-success btn-principal w-100">Editar</button>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-danger btn-principal w-100" href="{% url 'DeleteBlog' id=blog_id %}">Eliminar</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 