{% extends "base.html" %}
{% block content %}
<div class="main">
    <div class="container">
        <div class="row justify-content-md-center align-items-center" style="height: 800px;">
            <div class="col col-lg-2">

            </div>
            <div class="col-md-auto text-center">
                <h1 class="main-title">Proyecto Final</h1>
                <h2>¡Comienza ya a crear tus blogs!</h2>
                <div class="row justify-content-around mt-4">
                    <button class="btn btn-primary w-30" type="submit">Comenzar</button>
                    <button class="btn btn-success w-30" type="submit">Ver blogs</button>
                </div>
            </div>
            <div class="col col-lg-2">

            </div>
        </div>
    </div>
</div>
{% endblock content %} 